<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
      
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">

        <style>
                .lvl-over {
                    box-shadow: inset 0px 0px 16px 0px rgba(50, 50, 50, 1);
                }
            
                .lvl-target {
                  background-color: #ddd; 
                  opacity: .5;
                }
            
                [draggable] {
                  cursor: move;
                }
              </style>
    </head>
    <body>
        <% include ../partials/nav.ejs %>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <% corps.forEach(function(corp) { %>
                            <table class="table table-striped table-bordered">
                                    <thead>
                                            <tr>
                                                    <th colspan="3" class="text-center">
                                                        <b><%= corp.name %></b>
                                                    </th>
                                                    <th class="text-right">
                                                            <a href="<%= '/api/corpses/print/' + corp.alias + '.html' %>" target="_blank">Печать</a>
                                                    </th>
                                                </tr>
                                    </thead>
                                    <tbody>
                                            
                                            <% corp.places.forEach(function(place) { %>
                                                <tr class="table-dark">
                                                    <th style="width: 30%"></th>
                                                        <th><%= place.code %></th>
                                                        <th><%= place.count %></th>
                                                        <th><%= place.max %> - max</th>
                                                </tr>
                                                <% place.audience.forEach(function(audience) { %>
                                                    <tr class="<%= audience.count > audience.max ? 'table-danger' : ''%>">
                                                            <td></td>
                                                            <td><%= audience.name %><%= audience.bel === true ? ' (бел)' : ''%></td>
                                                            <td><%= audience.count %></td>
                                                            <td><%= audience.max %></td>
                                                            
                                                    </tr>
                                                    
                                                <% }); %>
                                            <% }); %>     
                                </tbody>
                            </table>
                            <br>
                        <% }); %>        
                </div>
            </div>
        </div>
    </body>
</html>